body {
  background: #F9FAFB;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
  position: relative;
}

.main-container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 130px;
  /* height of your footer */
}

.dashed-box {
  padding: 30px;
  /*background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */
  border: dashed 1px #BFBFBF;
  background: #fff;
  border-radius: 8px;
}

.dashed-box .edit-link {
  float: right;
  margin-bottom: -22px;
  text-decoration: none;
}

.print-download-box {
  background: #fff !important;
  padding: 22px 25px !important;
}

.print-download-box strong {
  padding: 7px 8px 0 0;
  float: right;
}

.print-download-box a {
  margin: -7px 6px 0 6px;
  float: right;
}

a {
  color: #3171D6;
}

a:hover {
  text-decoration: none;
}

/*----------------------- Titles and texts -------------------------*/
h1 {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

@media (min-width: 992px) {
  h1 {
    font-size: 27px;
    text-align: left;
  }
}

h3 {
  font-size: 17px;
  color: #102B50;
  font-weight: 600;
}

@media (min-width: 992px) {
  h3 {
    font-size: 26px;
  }
}

h3 span {
  font-weight: normal;
}

h4 {
  font-size: 17px;
  font-weight: 600;
  color: #D6A728;
}

h5 {
  font-weight: 600;
  font-size: 1.15rem;
}

.blue-text {
  color: #3171D6;
}

/*----------------------- Header -----------------------------------*/
.header {
  background: #fff;
  border-bottom: solid 1px #DCE5ED;
  padding: 13px;
}

.header .btn-primary {
  padding: 8px 21px;
  line-height: 1.5;
  font-size: 16px;
  float: right;
  -webkit-box-shadow: 0px 3px 6px #3171D648;
          box-shadow: 0px 3px 6px #3171D648;
}

.header .logged-user {
  float: right;
  padding: 14px;
  margin-right: 26px;
  position: relative;
  padding-right: 36px;
  display: none;
}

@media (min-width: 992px) {
  .header .logged-user {
    display: block;
  }
}

.header .logged-user::after {
  content: "";
  width: 2px;
  height: 35px;
  background: #DCE5ED;
  position: absolute;
  right: 0;
}

.header .logged-user-name {
  display: inline-block;
  padding-top: 6px;
  color: #3171D6;
}

.header .user-controls {
  display: none;
}

.header.logged-user .log-in {
  display: none;
}

.header.logged-user .user-controls {
  display: block !important;
}

.not-logged-state .login-wrapper {
  display: block;
}

.not-logged-state .nav-wrapper {
  display: none;
}

.logged-state .login-wrapper {
  display: none;
}

.logged-state .nave-wrapper {
  display: block;
}

.icon-user-icon {
  font-size: 35px;
  float: left;
  margin-right: 10px;
}

/* ///////////////////// CREATE ACCOUNT //////////////// */
.form-control {
  background: #F5F6F7;
}

.form-control.white {
  background: #fff;
}

.form-control.white:focus {
  color: #495057;
  background-color: #fff !important;
  outline: 0;
}

select.form-control.white {
  background: url(../img/down-arrow.svg) no-repeat right #ffffff;
  -webkit-appearance: none;
  background-position-x: 97%;
}

.form-control:focus {
  color: #495057;
  background-color: #F5F6F7 !important;
  border-color: #ced4da !important;
  outline: 0;
}

@media (min-width: 992px) {
  .quotation-box {
    width: 80%;
  }
}

.empty-quotation-box {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  margin-top: 70px;
}

.empty-quotation-box .icon {
  font-size: 65px;
  margin-bottom: 6px;
}

.empty-quotation-box h5 {
  font-weight: 500;
}

.empty-quotation-box .btn {
  width: 270px;
  -webkit-box-shadow: 0px 3px 6px #3171D648;
          box-shadow: 0px 3px 6px #3171D648;
}

.quotation-create, .quotation-consult {
  text-align: center;
  padding: 24px;
  border: solid 1px #DCE5ED;
  border-radius: 10px;
  width: 320px;
  background: #fff;
  margin: 0 auto;
  margin-bottom: 33px;
}

.quotation-create .btn, .quotation-consult .btn {
  width: 100%;
  margin-top: 21px;
}

.quotation-create .icon, .quotation-consult .icon {
  height: 116px;
}

@media (min-width: 992px) {
  .quotation-create, .quotation-consult {
    margin: 35px;
  }
}

.quotation-consult img {
  margin-top: 13px;
}

.bordered-box {
  background: #fff;
  border: solid 1px #DCE5ED;
  border-radius: 8px;
}

.bordered-box {
  border: solid 1px #D0D8E8;
  background: #F6F8FC;
  padding: 25px;
  margin-bottom: 10px;
}

.bordered-box .form-control {
  background: #fff;
}

.bordered-box .form-control:focus {
  color: #495057;
  background-color: #fff !important;
  border-color: #fff !important;
  outline: 0;
}

.bordered-box.white {
  background: #fff;
}

.page-item {
  padding: .5rem .75rem;
}

.page-link {
  padding: 0;
}

.break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

h1.w-100 {
  min-width: 100%;
}

.validate-code p {
  padding: 0 15px;
  font-weight: 500;
}

.bullet-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bullet-list li {
  padding-left: 20px;
  margin-bottom: 7px;
  background: url(../img/orange-bullet.svg) no-repeat 2px 6px;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clear-list.horizontal-list li {
  margin-right: 30px;
  display: inline-block;
}

@media (min-width: 992px) {
  .clear-list.horizontal-list li {
    float: left;
    margin-right: 60px;
  }
}

.clear-list.horizontal-list li .icon-home-icon, .clear-list.horizontal-list li .icon-exit-icon {
  float: left;
  font-size: 20px;
  margin: -1px 6px 0 0;
}

a.no-decoration:hover {
  text-decoration: none;
}

/*----------------------- Buttons ----------------------------------*/
.med-btn {
  width: 200px;
}

.small-btn {
  width: 150px;
  line-height: 1.8 !important;
}

.btn-primary {
  -webkit-box-shadow: 0px 3px 6px #00000029;
  box-shadow: 0px 3px 6px #00000029;
}

.btn-secondary {
  color: #fff;
  background-color: #2297C0;
  border-color: #2297C0;
  line-height: 1.8;
  font-size: 18px;
  font-weight: 500;
  padding-top: 8px;
  width: 150px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
  box-shadow: 0px 3px 6px #00000029;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #2297C0;
  border-color: #2297C0;
}

.right-icon .icon-next-icon {
  float: right;
  margin-top: 10px;
  margin-right: 8px;
  margin-left: -15px;
}

.print-btn {
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 36px;
}

.download-btn {
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 36px;
}

.go-back {
  margin-top: -52px;
  background: #9AB4DB;
  padding: 9px 2px 8px 9px;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  float: left;
}

.go-back span + span {
  display: none;
}

@media (min-width: 992px) {
  .go-back {
    margin-top: -61px;
    padding: 7px 14px 5px 5px;
  }
  .go-back span + span {
    display: block;
  }
}

.go-back:hover {
  color: #fff;
  background: #A7BFE3;
}

.go-back span {
  float: left;
  margin: 4px;
  margin-right: 9px;
}

@media (min-width: 992px) {
  .go-back span.icon-go-back-icon {
    margin: 7px 6px 0 13px;
  }
}

/*----------------------- Create Requests -------------------------*/
.new-request {
  margin-top: -52px;
  background: #3171D6;
  padding: 9px 11px 8px 12px;
  border-radius: 6px;
  color: #fff;
  font-size: 14px !important;
  float: right;
}

.new-request:hover {
  background: #3E7EE2;
  color: #fff;
}

.new-request .icon-add-file-icon {
  font-size: 21px;
  float: left;
  margin: 0px 0 3px 0px;
}

@media (min-width: 992px) {
  .new-request .icon-add-file-icon {
    margin: 3px 4px 2px 0px;
  }
}

.new-request span + span {
  display: none;
}

@media (min-width: 992px) {
  .new-request {
    margin-top: -61px;
    padding: 7px 14px 5px 17px;
  }
  .new-request span + span {
    display: block;
  }
}

.new-request span {
  float: left;
  margin: 4px;
  margin-right: 9px;
}

@media (min-width: 992px) {
  .new-request span.icon-go-back-icon {
    margin: 7px 6px 0 13px;
  }
}

/*--------------- Replacements Quote ----------------------------- */
.add-new-item {
  font-size: 17px;
  text-align: center;
  background: #fff;
  display: block;
  border: dashed 1px #AAC0D3;
  border-radius: 8px;
  height: 100px;
  padding-top: 40px;
  margin-top: 15px;
}

.add-new-item .icon-add-icon {
  font-size: 22px;
}

@media (min-width: 992px) {
  .add-new-item {
    height: 244px;
    padding-top: 107px;
    margin-top: 0;
  }
}

.actions {
  border-top: solid 1px #E6EDF4;
  padding-top: 15px;
  margin-left: -24px;
  padding-left: 24px;
  margin-right: -24px;
  padding-right: 24px;
  margin-top: 19px;
  margin-bottom: -7px;
}

.actions .btn-primary {
  font-size: 14px;
  line-height: 1.6;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-top: 7px;
  padding-bottom: 9px;
  width: 100%;
  margin-bottom: 13px;
}

@media (min-width: 992px) {
  .actions .btn-primary {
    width: 44%;
    margin-bottom: 0;
  }
}

.actions .btn-info {
  font-size: 14px;
  background: #EFF6FF;
  border: solid 1px #9AB4DB;
  color: #1156A8;
  font-weight: 500;
  line-height: 1.9;
  width: 50%;
  margin: 0;
  float: left;
}

.actions .btn-info .icon-edit-icon {
  font-size: 17px;
}

.actions .btn-info .icon-trash-icon {
  font-size: 19px;
}

.actions .btn-info.btn:nth-child(2) {
  width: 48%;
  margin-right: 2%;
}

@media (min-width: 992px) {
  .actions .btn-info.btn:nth-child(2) {
    margin: 0;
    width: 25%;
    margin: 2%;
  }
}

.actions .btn-info.btn:nth-child(3) {
  margin: 0;
  width: 48%;
  margin-left: 2%;
}

@media (min-width: 992px) {
  .actions .btn-info.btn:nth-child(3) {
    margin: 0;
    width: 25%;
  }
}

@media (min-width: 992px) {
  .actions .btn-info {
    float: none;
  }
}

.btn-info:not(:disabled):not(.disabled):active {
  color: #1156A8;
  background-color: #EFF6FF !important;
  border: solid 1px #9AB4DB !important;
}

.item {
  background: #fff;
  border: solid 1px #D0D8E8;
  border-radius: 8px;
  padding: 14px 14px 12px 14px;
  margin-bottom: 15px;
}

.item .icon-trash-icon {
  font-size: 25px;
  float: right;
  margin-top: -2px;
}

.successful-message {
  padding-top: 147px;
  font-size: 15px;
  background: url(../img/concluded-quote.svg) no-repeat center 0;
  text-align: center;
}

@media (min-width: 992px) {
  .successful-message {
    text-align: left;
    padding-top: 0;
    padding-left: 147px;
    font-size: 18px;
    background: url(../img/concluded-quote.svg) no-repeat 0 0;
  }
}

.car-icon-bg {
  background: #FFF url(../img/car-icon.svg) no-repeat 95% center !important;
}

.small-car-icon-bg {
  background-color: #FFF;
  background-size: 70px;
  background-image: url(../img/car-icon.svg);
  background-repeat: no-repeat;
  background-position: 95% 27px;
}

/*------------------------------------------------------------------*/
/*----------------------- Steps List -------------------------------*/
/*------------------------------------------------------------------*/
.steps-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vertical-steps, .horizontal-steps {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*----------- Horizontal Steps -----------*/
.horizontal-steps {
  position: relative;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .horizontal-steps {
    display: none;
  }
}

.horizontal-steps .step-number {
  padding-top: 7px;
  z-index: 1;
}

.horizontal-steps:before {
  content: "";
  width: 20px;
  height: 1px;
  background: #3171D6;
  position: absolute;
  width: 100%;
  top: 24px;
}

/*----------- Vertical Steps -----------*/
.vertical-steps {
  position: relative;
  text-align: center;
}

@media (min-width: 992px) {
  .vertical-steps {
    text-align: left;
  }
}

.vertical-steps:before {
  content: "";
  width: 1px;
  height: 20px;
  background: #3171D6;
  position: absolute;
  height: 200px;
  top: 24px;
  left: 23px;
  display: none;
}

@media (min-width: 992px) {
  .vertical-steps:before {
    display: block;
  }
}

.vertical-steps li {
  position: relative;
  line-height: 22px;
  margin-bottom: 20px;
  padding-left: 0;
  display: none;
}

@media (min-width: 992px) {
  .vertical-steps li {
    padding-left: 65px;
    margin-bottom: 50px;
    display: block;
  }
}

.vertical-steps .step-number {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

@media (min-width: 992px) {
  .vertical-steps .step-number {
    display: block;
  }
}

.step-number {
  width: 46px;
  background: #F9FAFB;
  height: 47px;
  text-align: center;
  border-radius: 6px;
  border: solid 1px #3171D6;
  font-size: 22px;
  padding-top: 12px;
  color: #3171D6;
  z-index: 1;
}

.step-count {
  text-transform: uppercase;
  color: #86888C;
}

.step-statement {
  font-size: 22px;
  font-weight: 600;
}

/*----------- Progress : Step 1 -----------*/
.step-1 .step-number.one {
  background: #3171D6;
  color: #fff;
  border: solid 1px #3171D6;
}

.step-1 li:first-child {
  display: block;
}

.step-1 li:first-child .step-count, .step-1 li:first-child .step-statement {
  color: #2C5FB1;
}

/*----------- Progress : Step 2 -----------*/
.step-2 .step-number.one {
  background: #D6DBE4;
  color: #fff;
  border: solid 1px #D6DBE4;
}

.step-2 .step-number.two {
  background: #3171D6;
  color: #fff;
  border: solid 1px #3171D6;
}

.step-2 .horizontal-steps:after {
  content: "";
  width: 20px;
  height: 1px;
  background: #D6DBE4;
  position: absolute;
  width: 50%;
  top: 24px;
  display: none;
}

@media (max-width: 992px) {
  .step-2 .horizontal-steps:after {
    display: block;
  }
}

.step-2 .vertical-steps li:first-child .step-count, .step-2 .vertical-steps li:first-child .step-statement {
  color: #BDC5D3;
}

.step-2 .vertical-steps li:nth-child(2) {
  display: block;
}

.step-2 .vertical-steps li:nth-child(2) .step-count, .step-2 .vertical-steps li:nth-child(2) .step-statement {
  color: #2C5FB1;
}

.step-2 .vertical-steps:after {
  content: "";
  width: 1px;
  height: 20px;
  background: #D6DBE4;
  position: absolute;
  height: 100px;
  top: 24px;
  left: 23px;
  display: none;
}

@media (min-width: 992px) {
  .step-2 .vertical-steps:after {
    display: block;
  }
}

/*----------- Progress : Step 3 -----------*/
.step-3 .step-number.one {
  background: #D6DBE4;
  color: #fff;
  border: solid 1px #D6DBE4;
}

.step-3 .step-number.two {
  background: #D6DBE4;
  color: #fff;
  border: solid 1px #D6DBE4;
}

.step-3 .step-number.three {
  background: #3171D6;
  color: #fff;
  border: solid 1px #3171D6;
}

.step-3 .horizontal-steps:after {
  content: "";
  width: 20px;
  height: 1px;
  background: #D6DBE4;
  position: absolute;
  width: 100%;
  top: 24px;
}

.step-3 .vertical-steps li:first-child .step-count, .step-3 .vertical-steps li:first-child .step-statement, .step-3 .vertical-steps li:nth-child(2) .step-count, .step-3 .vertical-steps li:nth-child(2) .step-statement {
  color: #BDC5D3;
}

.step-3 .vertical-steps li:nth-child(3) {
  display: block;
}

.step-3 .vertical-steps li:nth-child(3) .step-count, .step-3 .vertical-steps li:nth-child(3) .step-statement {
  color: #2C5FB1;
}

.step-3 .vertical-steps:after {
  content: "";
  width: 1px;
  height: 20px;
  background: #D6DBE4;
  position: absolute;
  height: 200px;
  top: 24px;
  left: 23px;
  display: none;
}

@media (min-width: 992px) {
  .step-3 .vertical-steps:after {
    display: block;
  }
}

/*----------- Progress : Steps Completed -----------*/
.step-4 .step-number.one,
.step-4 .step-number.two,
.step-4 .step-number.three {
  background: #D6DBE4;
  color: #fff;
  border: solid 1px #D6DBE4;
}

.step-4 .horizontal-steps:after {
  content: "";
  width: 20px;
  height: 1px;
  background: #D6DBE4;
  position: absolute;
  width: 100%;
  top: 24px;
}

.step-4 .vertical-steps li .step-count, .step-4 .vertical-steps li .step-statement {
  color: #BDC5D3;
}

.step-4 .vertical-steps:after {
  content: "";
  width: 1px;
  height: 20px;
  background: #D6DBE4;
  position: absolute;
  height: 200px;
  top: 24px;
  left: 23px;
  display: none;
}

@media (min-width: 992px) {
  .step-4 .vertical-steps:after {
    display: block;
  }
}

/* ------------------ FOOTER --------------------*/
.footer {
  font-size: 14px;
  line-height: 23px;
}

.footer span {
  display: block;
}

@media (min-width: 576px) {
  .footer span {
    display: inline;
  }
}

.footer {
  position: relative;
  width: 100%;
  margin-top: -80px;
}

.main-nav {
  list-style: none;
  padding: 0;
  margin: 10px 30px 30px 30px;
}

.main-nav a {
  color: #3171D6;
  padding: 15px 15px 15px 0;
  display: block;
  font-size: 17px;
  border-bottom: solid 1px #E6E6E6;
}

.main-nav a:hover {
  text-decoration: none;
}

.nav-menu {
  width: 58px;
  height: 59px;
  float: right;
  padding-top: 5px;
}

.nav-menu .btn {
  background: transparent;
  font-size: 25px;
  padding: 10px;
  border: none;
}

.pusha-panel__content {
  padding-top: 30px;
}

.pusha-panel__content .pusha-panel__close {
  margin: 0 25px 0 0;
  margin-top: -12px;
  font-size: 27px;
  background: transparent;
  position: absolute;
  right: -9px;
  border: none;
}

.pusha-panel__content h3 {
  padding: 0 0 0 30px;
  text-transform: uppercase;
  font-size: 21px;
}

.login-box {
  padding-top: 5px;
  margin: 20px;
}

@media (min-width: 576px) {
  .login-box {
    margin: 0 auto;
    width: 470px;
  }
  .login-box input {
    background: #F5F6F7;
  }
}

.login-box .logo {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 30px;
}

.login-box .bordered-box {
  padding: 10px;
}

@media (min-width: 576px) {
  .login-box .bordered-box {
    padding: 30px;
  }
}

.login-box .bordered-box {
  background: transparent;
  border: none;
}

@media (min-width: 576px) {
  .login-box .bordered-box {
    background: #fff;
    border: solid 1px #DCE5ED;
    border-radius: 8px;
  }
}

.login-box .form-control:focus {
  color: #495057;
  background-color: #F5F6F7 !important;
  border-color: #ced4da !important;
  outline: 0;
}

.login-box .btn-primary {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

button:disabled {
  background: #D6DBE4 !important;
  border-color: #D6DBE4 !important;
}

.forgot-pass-text p {
  line-height: normal;
  font-size: 14px;
  padding: 0 15px;
}

/* --------------- Product Items -------------------- */
/*  transition: all 0.2s ease; */
.product-description {
  padding: 20px;
}

/* --------------- Forms --------------------------- */
.form-control {
  border-radius: 8px;
  line-height: 2.2;
}

@media (min-width: 576px) {
  .form-control {
    line-height: 2.5;
  }
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  border-radius: 8px;
}

.btn-primary {
  color: #fff;
  background-color: #215FBF;
  border-color: #215FBF;
  line-height: 2.2;
  font-size: 18px;
  font-weight: 500;
  padding-top: 8px;
}

.btn-primary:hover {
  background: #3271D3;
  border-color: #3271D3;
}

.icon-right-icon {
  position: relative;
  bottom: -2px;
  left: 5px;
}

select.form-control {
  height: calc(3.25rem + 2px) !important;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #F5F6F7;
  -webkit-appearance: none;
  background-position-x: 98%;
}

.btn-secondary {
  color: #fff;
  background-color: #2297C0;
  border-color: #2297C0;
  line-height: 2.2;
  font-size: 18px;
  font-weight: 500;
  padding-top: 8px;
}

.btn-secondary:hover {
  background: #27A5D1;
  border-color: #27A5D1;
}

.w-100 {
  width: 100%;
}

label {
  font-weight: 600;
  margin-bottom: .2rem;
}

.btn.focus, .btn:focus, .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.transition {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.table tr {
  background: #fff;
  border-bottom: solid 5px #F9FAFB;
}

.table thead th {
  border-bottom: none;
  background: #1156A8;
  color: #fff;
  font-weight: normal;
}

.table td, .table th {
  border-top: none;
}

.table tfoot tr {
  background: transparent;
}

.in-progress:hover {
  cursor: auto;
}

.in-progress span {
  font-size: 21px;
  float: left;
  margin-right: 7px;
}

.published {
  color: #569F17;
}

.published:hover {
  color: #569F17;
  opacity: 0.7;
}

.published span {
  float: left;
  margin-right: 7px;
}

.page-link {
  border: none;
  background-color: transparent;
}

.page-link .icon-left-icon, .page-link .icon-right-icon {
  font-size: 22px;
}

.page-item {
  color: #007bff;
}

.page-item:first-child {
  padding: 15px;
  display: block;
  margin-top: -7px !important;
}

.page-item:last-child {
  padding: 15px;
  margin-top: -7px !important;
  display: block;
}

.pagination {
  font-size: 15px;
}

.pagination .page-link:hover {
  color: #007bff;
  text-decoration: none;
  background-color: transparent !important;
  border-color: transparent !important;
}

.pagination .page-item {
  text-align: center;
  margin: 0 5px;
}

.pagination .page-item.divider {
  padding: 6px;
  color: #007bff;
}

.pagination .page-item.current {
  color: red;
}

.faded-out {
  opacity: 0.3;
}

.available-comments {
  background: #EEF3F5;
  border-radius: 10px;
  padding: 15px;
  font-size: 13px;
  max-width: 500px;
}

/*----------------------- Simple Table Styles ----------------------------*/
.w-960 {
  min-width: 960px;
}

table.simple-table-list {
  width: 100%;
}

table.simple-table-list td {
  padding: 2px 6px;
  padding-left: 0;
}

table.simple-table-list tr td:first-child {
  font-weight: bold;
}

.hideDiv {
  display: none;
}

.showDiv {
  display: block;
}

.dashboardHide {
  display: none;
}

.codeHide {
  display: none;
}

.icon-angle-right {
  float: right;
  top: 20px;
  right: 20px;
  position: absolute;
}

/*
@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }
@media (min-width: 1400px) { ... }
*/
/*---------- Debuggind Styles ---------------*/
.d1 {
  background: lightblue;
}

.d2 {
  background: lightgrey;
}

.d3 {
  background: lightskyblue;
}

.d4 {
  background: lightsalmon;
}

.d5 {
  background: lightpink;
}
/*# sourceMappingURL=main.css.map */