@import "scss/pages/layout";
@import "scss/modules/nav";
@import "scss/pages/login";
@import "scss/modules/product-items";
@import "scss/modules/forms";
@import "scss/modules/tables";
@import "scss/modules/other";


/*
@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }
@media (min-width: 1400px) { ... }
*/


/*---------- Debuggind Styles ---------------*/
.d1 { background: lightblue;}
.d2 { background: lightgrey;}
.d3 { background: lightskyblue;}
.d4 { background: lightsalmon;}
.d5 { background: lightpink;}

