/* --------------- Forms --------------------------- */
.form-control {
    border-radius: 8px;
    line-height: 2.2;
    @media (min-width: 576px) {
        line-height: 2.5;
    }  
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-radius: 8px;
}

.btn-primary {
    color: #fff;
    background-color: #215FBF;
    border-color: #215FBF;
    line-height: 2.2;
    font-size: 18px;
    font-weight: 500;
    padding-top: 8px;
    &:hover {
        background: #3271D3;
        border-color: #3271D3;
    }
}

.icon-right-icon {
    position: relative;
    bottom: -2px;
    left: 5px;
}

select.form-control{
    height: calc(3.25rem + 2px) !important;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #F5F6F7;
    -webkit-appearance: none;
    background-position-x: 98%;
}



.btn-secondary {
    color: #fff;
    background-color: #2297C0;
    border-color: #2297C0;
    line-height: 2.2;
    font-size: 18px;
    font-weight: 500;
    padding-top: 8px;
    &:hover {
        background: #27A5D1;
        border-color: #27A5D1;
    }
}

.w-100  {
    width: 100%;
}
label {
    font-weight: 600;
    margin-bottom: .2rem;
}
.btn.focus, .btn:focus, .form-control:focus {
    outline: 0;
    box-shadow: none !important;
}

