.main-nav {
    list-style: none;
    padding: 0;
    margin: 10px 30px 30px 30px;
    a {
        color: #3171D6;
        padding: 15px 15px 15px 0;
        display: block;
        font-size: 17px;
        border-bottom: solid 1px #E6E6E6;
        &:hover {
            text-decoration: none;
        }
    }
    
}

.nav-menu {
    width: 58px;
    height: 59px;
    float: right;
    padding-top: 5px;
    .btn {
        background: transparent;
        font-size: 25px;
        padding: 10px;
        border: none;
    }
}
 
.pusha-panel__content {
    padding-top: 30px;
    .pusha-panel__close {
        margin: 0 25px 0 0;
        margin-top: -12px;
        font-size: 27px;
        background: transparent;
        position: absolute;
        right: -9px;
        border: none;
    }
    h3 {
        padding: 0 0 0 30px;
        text-transform: uppercase;
        font-size: 21px;
    }
}