.transition {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}
.table {
    tr {
        background: #fff;
        border-bottom: solid 5px #F9FAFB;
    }
    thead {
        th {
            border-bottom: none;
            background: #1156A8;
            color: #fff;
            font-weight: normal;
        }
    }
    td, th {
        border-top: none;
    }
    tfoot {
        tr {
            background: transparent;
        }
    }
}

.in-progress {
    &:hover {
        cursor: auto;
    }
    span {
        font-size: 21px;
        float: left;
        margin-right: 7px;
    }
}

.published {
    color: #569F17;
    &:hover {
        color: #569F17;
        opacity: 0.7;
    }
    span {
        float: left;
        margin-right: 7px;
    }
}

.page-link {
    border: none;
    background-color: transparent;
    .icon-left-icon, .icon-right-icon{
        font-size: 22px;
    }
}
.page-item {
    color: #007bff;
    &:first-child {
        padding: 15px;
        display: block;
        margin-top: -7px !important; 
    }
    &:last-child {
        padding: 15px;
        margin-top: -7px !important;
        display: block;   
    }
}
.pagination {
    font-size: 15px;
    .page-link:hover {
        color: #007bff;
        text-decoration: none;
        background-color: transparent !important;
        border-color: transparent !important;
    }
}
.pagination .page-item {
    text-align: center;
    margin:0 5px;
    &.divider {
        padding: 6px;
        color: #007bff;
    }
    &.current {
        color: red;
    }
}

.faded-out {
    opacity: 0.3;
}

.available-comments {
    background: #EEF3F5;
    border-radius: 10px;
    padding: 15px;
    font-size: 13px;
    max-width: 500px;
} 



/*----------------------- Simple Table Styles ----------------------------*/

.w-960 {
    min-width: 960px;
}

table.simple-table-list {
    width: 100%;
    td {
        padding: 2px 6px;
        padding-left: 0;
    }
    tr td:first-child {
        font-weight: bold;
    }
}
