/*! Pusha v2.0.0 | MIT License | https://github.com/slavanga/pusha */
body {
  overflow-x: hidden;
}

.pusha-active,
.pusha-active body {
  overflow: hidden;
}

.pusha-wrapper,
.pusha-push {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.pusha-wrapper {
  position: relative;
  z-index: 200;
  height: 100%;
  background-color: inherit;
}

.pusha-panel {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  will-change: transform;
}

.pusha-panel--left {
  max-width: 100%;
  max-height: 100vh;
  width: 260px;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 200;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, -webkit-transform 0.3s ease;
  transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, -webkit-transform 0.3s ease;
  transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, transform 0.3s ease;
  transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.pusha-panel--left.pusha-panel--active ~ .pusha-push,
.pusha-panel--left.pusha-panel--active ~ .pusha-blocker,
.pusha-panel--left.pusha-panel--active ~ .pusha-wrapper {
  -webkit-transform: translateX(260px);
          transform: translateX(260px);
}

.pusha-panel--left.pusha-panel--active {
  -webkit-transition: opacity 0.05s, -webkit-transform 0.3s ease;
  transition: opacity 0.05s, -webkit-transform 0.3s ease;
  transition: opacity 0.05s, transform 0.3s ease;
  transition: opacity 0.05s, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.pusha-panel--right {
  max-width: 100%;
  max-height: 100vh;
  width: 260px;
  height: 100%;
  background-color: #fff;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 200;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, -webkit-transform 0.3s ease;
  transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, -webkit-transform 0.3s ease;
  transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, transform 0.3s ease;
  transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.pusha-panel--right.pusha-panel--active ~ .pusha-push,
.pusha-panel--right.pusha-panel--active ~ .pusha-blocker,
.pusha-panel--right.pusha-panel--active ~ .pusha-wrapper {
  -webkit-transform: translateX(-260px);
          transform: translateX(-260px);
}

.pusha-panel--right.pusha-panel--active {
  -webkit-transition: opacity 0.05s, -webkit-transform 0.3s ease;
  transition: opacity 0.05s, -webkit-transform 0.3s ease;
  transition: opacity 0.05s, transform 0.3s ease;
  transition: opacity 0.05s, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.pusha-panel--top {
  max-width: 100%;
  max-height: 100vh;
  width: 100%;
  height: 260px;
  background-color: #fff;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 220;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, -webkit-transform 0.3s ease;
  transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, -webkit-transform 0.3s ease;
  transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, transform 0.3s ease;
  transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.pusha-panel--top.pusha-panel--active {
  -webkit-transition: opacity 0.05s, -webkit-transform 0.3s ease;
  transition: opacity 0.05s, -webkit-transform 0.3s ease;
  transition: opacity 0.05s, transform 0.3s ease;
  transition: opacity 0.05s, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.pusha-panel--bottom {
  max-width: 100%;
  max-height: 100vh;
  width: 100%;
  height: 260px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 220;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, -webkit-transform 0.3s ease;
  transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, -webkit-transform 0.3s ease;
  transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, transform 0.3s ease;
  transition: visibility 0s linear 0.3s, opacity 0.05s linear 0.3s, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.pusha-panel--bottom.pusha-panel--active {
  -webkit-transition: opacity 0.05s, -webkit-transform 0.3s ease;
  transition: opacity 0.05s, -webkit-transform 0.3s ease;
  transition: opacity 0.05s, transform 0.3s ease;
  transition: opacity 0.05s, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.pusha-panel--active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none !important;
          transform: none !important;
}

.pusha-panel__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

.pusha-active .pusha-panel__content {
  overflow-y: auto;
}

.pusha-blocker {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 210;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: visibility 0s linear 0.3s, transform 0.3s ease, opacity 0.3s ease;
  transition: visibility 0s linear 0.3s, transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

.pusha-active .pusha-blocker {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

body {
  background-color: #fff;
}

.container {
  max-width: 720px;
}

.page__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 205;
  padding: 15px 0;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

.page__content {
  padding-top: 100px;
  padding-bottom: 50px;
}

.page__footer {
  padding-top: 40px;
  padding-bottom: 20px;
}

.menu {
  margin: 0 -15px;
}

.menu a {
  display: block;
  padding: 0.6em 1em;
}

.sub-menu {
  display: none;
}

.pusha-panel__inner {
  padding: 15px;
}

.pusha-panel__close {
  margin-bottom: 1em;
}
/*# sourceMappingURL=pusha-demo.css.map */