body {
    background: #F9FAFB;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
html,
body {
    height: 100%;
    position: relative;
}
.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 130px; /* height of your footer */
}

.dashed-box {
    padding: 30px;
    /*background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */
    border: dashed 1px #BFBFBF;
    background: #fff;
    border-radius: 8px;
    .edit-link {
        float: right;
        margin-bottom: -22px;
        text-decoration: none;
    }
}

.print-download-box {
    background: #fff !important;
    padding: 22px 25px !important;
    strong {
        padding: 7px 8px 0 0;
        float: right;
    }
    a {
        margin: -7px 6px 0 6px;
        float: right;
    }
}

a {
    color: #3171D6;
    &:hover {
        text-decoration: none;
    }
}


/*----------------------- Titles and texts -------------------------*/

h1 {
    font-weight: bold;
    text-align: center;  
    font-size: 20px;
    @media (min-width: 992px) {
        font-size: 27px;
        text-align: left;
    }
}

h3 {
    font-size: 17px;
    color: #102B50;
    font-weight: 600;
    @media (min-width: 992px) {
        font-size: 26px;
    }
    span {
        font-weight: normal;
    }
}

h4 {
    font-size: 17px;
    font-weight: 600;
    color: #D6A728;
}


h5 {
    font-weight: 600;
    font-size: 1.15rem;
}

.blue-text {
    color: #3171D6;
}


/*----------------------- Header -----------------------------------*/

.header {
    background: #fff;
    border-bottom: solid 1px #DCE5ED;
    padding: 13px;
    .btn-primary {
        padding: 8px 21px;
        line-height: 1.5;
        font-size: 16px;
        float: right;
        box-shadow: 0px 3px 6px #3171D648;
    }
    .logged-user {
        float: right;
        padding: 14px;
        margin-right: 26px;
        position: relative;
        padding-right: 36px;
        display: none;
        @media (min-width: 992px) {
            display: block;
        }
        &::after{
            content: "";
            width: 2px;
            height: 35px;
            background: #DCE5ED;
            position: absolute;
            right: 0;
        }
    }
    .logged-user-name {
        display: inline-block;
        padding-top: 6px;
        color: #3171D6;
    }
    .user-controls {
        display: none;
    }
    
    &.logged-user {
        .log-in {
            display: none;
        }
        .user-controls {
            display: block !important;
        }
    }
}

.not-logged-state {
    .login-wrapper {
        display: block;
    }
    .nav-wrapper {
        display: none
    }
}

.logged-state {
    .login-wrapper {
        display: none;
    }
    .nave-wrapper {
        display: block;
    }
}

.icon-user-icon {
    font-size: 35px;
    float: left;
    margin-right: 10px
}

/* ///////////////////// CREATE ACCOUNT //////////////// */

.form-control {
    background: #F5F6F7;
}
.form-control.white {
    background: #fff;
    &:focus {
        color: #495057;
        background-color: #fff !important;
        outline: 0;
    }
}
select.form-control.white {
    background: url(../img/down-arrow.svg) no-repeat right #ffffff;
    -webkit-appearance: none;
    background-position-x: 97%;
}


.form-control:focus {
    color: #495057;
    background-color: #F5F6F7 !important;
    border-color: #ced4da !important;
    outline: 0;
}

.quotation-box {
  @media (min-width: 992px) {
    width: 80%; 
  }
}
.empty-quotation-box {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    margin-top: 70px;
    .icon {
        font-size: 65px;
        margin-bottom: 6px;
    }
    h5 {
        font-weight: 500;
    }
    .btn {
        width: 270px; 
        box-shadow: 0px 3px 6px #3171D648;   
    }
}
.quotation-create, .quotation-consult {
    text-align: center;
    padding: 24px;
    border: solid 1px #DCE5ED;
    border-radius: 10px;
    width: 320px;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 33px;
    .btn {
        width: 100%;
        margin-top: 21px;
    }
    .icon {
        height: 116px;
    }
    @media (min-width: 992px) {
        margin: 35px;
    }
}
.quotation-consult {
    img {
        margin-top: 13px;
    }
}

.bordered-box {
    background: #fff;
    border: solid 1px #DCE5ED;
    border-radius: 8px;
}


.bordered-box {
    border: solid 1px #D0D8E8;
    background: #F6F8FC;
    padding: 25px;
    margin-bottom: 10px;
    .form-control {
        background: #fff;
        &:focus {
            color: #495057;
            background-color: #fff !important;
            border-color: #fff !important;
            outline: 0;
        }
    }
    &.white {
        background: #fff;
    }
}

.page-item {
    padding: .5rem .75rem;
}
.page-link {
    padding: 0;
}

.break {
    flex-basis: 100%;
    height: 0;
}

h1.w-100 {
    min-width: 100%;
}

.validate-code {
    p {
        padding: 0 15px;
        font-weight: 500;
    }
}


.bullet-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        padding-left: 20px;
        margin-bottom: 7px;
        background: url(../img/orange-bullet.svg) no-repeat 2px 6px;
    }
}

.clear-list {
    margin: 0;
    padding: 0;
    list-style: none;  
    &.horizontal-list {
        li {
            margin-right: 30px;
            display: inline-block;
            @media (min-width: 992px) {
                float: left;
                margin-right: 60px;
            }
            .icon-home-icon, .icon-exit-icon {
                float: left;
                font-size: 20px;
                margin: -1px 6px 0 0;
            }
        }
    }
}

a.no-decoration:hover {
    text-decoration: none;
}


/*----------------------- Buttons ----------------------------------*/


.med-btn {
    width: 200px;
}
.small-btn {
    width: 150px;
    line-height: 1.8 !important;
}

.btn-primary {
    -webkit-box-shadow: 0px 3px 6px #00000029;
    box-shadow: 0px 3px 6px #00000029;
}


.btn-secondary {
    color: #fff;
    background-color: #2297C0;
    border-color: #2297C0;
    line-height: 1.8;
    font-size: 18px;
    font-weight: 500;
    padding-top: 8px;
    width: 150px;
    -webkit-box-shadow: 0px 3px 6px #00000029;
    box-shadow: 0px 3px 6px #00000029;
}
.btn-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #2297C0;
    border-color: #2297C0;
}

.right-icon {
    .icon-next-icon {
        float: right;
        margin-top: 10px;
        margin-right: 8px;
        margin-left: -15px;
    }
}

.print-btn {
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size: 36px;
}

.download-btn {
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size: 36px;
}

.go-back {
    margin-top: -52px;
    background: #9AB4DB;
    padding: 9px 2px 8px 9px;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    float:left;
    span + span {
        display: none;
    }
    
    @media (min-width: 992px) {
        margin-top: -61px;
        padding: 7px 14px 5px 5px;
        span + span {
            display: block;
        }
    }

    &:hover {
        color: #fff;
        background: #A7BFE3;
    }
    span {
        float: left;
        margin: 4px;
        margin-right: 9px;
        @media (min-width: 992px) {
            &.icon-go-back-icon {
                margin: 7px 6px 0 13px;
            }
        }
    }
}

/*----------------------- Create Requests -------------------------*/

.new-request {
    margin-top: -52px;
    background: #3171D6;
    padding: 9px 11px 8px 12px;
    border-radius: 6px;
    color: #fff;
    font-size: 14px !important;
    float:right;
    &:hover {
        background: #3E7EE2;
        color: #fff;
    }

    .icon-add-file-icon {
        font-size: 21px;
        float: left;
        margin: 0px 0 3px 0px;
        @media (min-width: 992px) {
            margin: 3px 4px 2px 0px;
        }
    }

    span + span {
        display: none;
    }

    @media (min-width: 992px) {
        margin-top: -61px;
        padding: 7px 14px 5px 17px;
        span + span {
            display: block;
        }
    }
    span {
        float: left;
        margin: 4px;
        margin-right: 9px;
        @media (min-width: 992px) {
            &.icon-go-back-icon {
                margin: 7px 6px 0 13px;
            }
        }
    }
}

/*--------------- Replacements Quote ----------------------------- */
.add-new-item {
    font-size: 17px;
    text-align: center;
    background: #fff;
    display: block;
    border: dashed 1px #AAC0D3;
    border-radius: 8px;
    height: 100px;
    padding-top: 40px;
    margin-top: 15px;
    .icon-add-icon {
        font-size: 22px;
    }
    @media (min-width: 992px) {
        height: 244px;
        padding-top: 107px;
        margin-top: 0;
    }
}
.actions {
    border-top: solid 1px #E6EDF4;
    padding-top: 15px;
    margin-left: -24px;
    padding-left: 24px;
    margin-right: -24px;
    padding-right: 24px;
    margin-top: 19px;
    margin-bottom: -7px;
    .btn-primary {
        font-size: 14px;
        line-height: 1.6;
        box-shadow: none;
        padding-top: 7px;
        padding-bottom: 9px;
        width: 100%;
        margin-bottom: 13px;
        @media (min-width: 992px) {
            width: 44%;
            margin-bottom: 0;
        }
    }
    .btn-info {
        font-size: 14px;
        background: #EFF6FF;
        border: solid 1px #9AB4DB;
        color: #1156A8;
        font-weight: 500;
        line-height: 1.9;
        width: 50%;
        margin: 0;
        float: left;

        .icon-edit-icon {
            font-size: 17px;
        }
        .icon-trash-icon {
            font-size: 19px;
        }
        &.btn:nth-child(2) {
            width: 48%;
            margin-right: 2%;
            @media (min-width: 992px) {
                margin: 0;
                width: 25%;
                margin: 2%;
            } 
        }
        &.btn:nth-child(3) {
            margin: 0;
            width: 48%;
            margin-left: 2%;
            @media (min-width: 992px) {
                margin: 0;
                width: 25%;

            }  
        }
        @media (min-width: 992px) {
            float: none;
        }  
    }
}
.btn-info:not(:disabled):not(.disabled):active {
    color: #1156A8;
    background-color: #EFF6FF !important;
    border: solid 1px #9AB4DB !important;
}




.item {
    background: #fff;
    border: solid 1px #D0D8E8;
    border-radius: 8px;
    padding: 14px 14px 12px 14px;
    margin-bottom: 15px;
    .icon-trash-icon {
        font-size: 25px;
        float: right;
        margin-top: -2px;
    }
}


.successful-message {
    padding-top: 147px;
    font-size: 15px;
    background: url(../img/concluded-quote.svg) no-repeat center 0;
    text-align: center;
    @media (min-width: 992px) {
        text-align: left;
        padding-top: 0;
        padding-left: 147px;
        font-size: 18px;
        background: url(../img/concluded-quote.svg) no-repeat 0 0;
    }
}

.car-icon-bg {
    background: #FFF url(../img/car-icon.svg) no-repeat 95% center !important;
}

.small-car-icon-bg {
    background-color: #FFF;
    background-size: 70px;
    background-image: url(../img/car-icon.svg);
    background-repeat: no-repeat;
    background-position: 95% 27px;
}


/*------------------------------------------------------------------*/
/*----------------------- Steps List -------------------------------*/
/*------------------------------------------------------------------*/

.steps-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.vertical-steps, .horizontal-steps {
    list-style: none;
    padding: 0;
    margin: 0;
}
/*----------- Horizontal Steps -----------*/
.horizontal-steps{
    position: relative;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between!important;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
    @media (min-width: 992px) {
        display: none;
    }
    .step-number {
        padding-top: 7px;
        z-index: 1;
    }
    &:before {
        content: "";
        width: 20px;
        height: 1px;
        background: #3171D6;
        position: absolute;
        width: 100%;
        top: 24px;
    }
}
/*----------- Vertical Steps -----------*/
.vertical-steps {
    position: relative;
    text-align: center;
    @media (min-width: 992px) {
        text-align: left;
    }
    &:before {
        content: "";
        width: 1px;
        height: 20px;
        background: #3171D6;
        position: absolute;
        height: 200px;
        top: 24px;
        left: 23px;
        display: none;
        @media (min-width: 992px) {
            display: block;
        }
    }
    li {
        position: relative;
        line-height: 22px;
        margin-bottom: 20px;   
        padding-left: 0;
        display: none;
        @media (min-width: 992px) {
            padding-left: 65px;
            margin-bottom: 50px;  
            display: block;
        }
    }
    .step-number {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        @media (min-width: 992px) {
            display: block;
        }
    }
}

.step-number {
    width: 46px;
    background: #F9FAFB;
    height: 47px;
    text-align: center;
    border-radius: 6px;
    border:solid 1px #3171D6;
    font-size: 22px;
    padding-top: 12px;
    color: #3171D6;
    z-index: 1;
}

.step-count {
    text-transform: uppercase;
    color: #86888C;
}
.step-statement {
    font-size: 22px;
    font-weight: 600;
}
/*----------- Progress : Step 1 -----------*/
.step-1 {
    .step-number.one {
        background: #3171D6;
        color: #fff;
        border: solid 1px #3171D6;
    }
    li:first-child {
        display: block;
        .step-count, .step-statement {
            color:  #2C5FB1;
        }  
     } 

}
/*----------- Progress : Step 2 -----------*/
.step-2 {
    .step-number.one {
        background: #D6DBE4;
        color: #fff;
        border: solid 1px #D6DBE4;
    }
    .step-number.two {
        background: #3171D6;
        color: #fff;
        border: solid 1px #3171D6;
    }
    .horizontal-steps{
        &:after {
            content: "";
            width: 20px;
            height: 1px;
            background: #D6DBE4;
            position: absolute;
            width: 50%;
            top: 24px;
            display: none;
            @media (max-width: 992px) {
                display: block;
            }
        }
    }
    .vertical-steps {
        li:first-child {
           .step-count, .step-statement {
               color: #BDC5D3;
           }  
        }
        li:nth-child(2) {
            display: block;
            .step-count, .step-statement {
                color:  #2C5FB1;
            }  
         }  
        &:after {
            content: "";
            width: 1px;
            height: 20px;
            background: #D6DBE4;
            position: absolute;
            height: 100px;
            top: 24px;
            left: 23px;
            display: none;
            @media (min-width: 992px) {
                display: block;
            }
        }
    }
}
/*----------- Progress : Step 3 -----------*/
.step-3 {
    .step-number.one {
        background: #D6DBE4;
        color: #fff;
        border: solid 1px #D6DBE4;
    }
    .step-number.two {
        background: #D6DBE4;
        color: #fff;
        border: solid 1px #D6DBE4;
    }
    .step-number.three {
        background: #3171D6;
        color: #fff;
        border: solid 1px #3171D6;
    }
    .horizontal-steps{
        &:after {
            content: "";
            width: 20px;
            height: 1px;
            background: #D6DBE4;
            position: absolute;
            width: 100%;
            top: 24px;
        }
    }
    .vertical-steps {
        li:first-child, li:nth-child(2) {
           .step-count, .step-statement {
               color: #BDC5D3;
           }  
        }
        li:nth-child(3) {
            display: block;
            .step-count, .step-statement {
                color:  #2C5FB1;
            }  
         } 
        &:after { 
            content: "";
            width: 1px;
            height: 20px;
            background: #D6DBE4;
            position: absolute;
            height: 200px;
            top: 24px;
            left: 23px;
            display: none;
            @media (min-width: 992px) {
                display: block;
            }
        }
    }
}
/*----------- Progress : Steps Completed -----------*/
.step-4{
    .step-number.one,
    .step-number.two,
    .step-number.three {
        background: #D6DBE4;
        color: #fff;
        border: solid 1px #D6DBE4;
    }
    .horizontal-steps{
        &:after {
            content: "";
            width: 20px;
            height: 1px;
            background: #D6DBE4;
            position: absolute;
            width: 100%;
            top: 24px;
        }
    }
    .vertical-steps {
        li {
           .step-count, .step-statement {
               color: #BDC5D3;
           }  
        }
        &:after { 
            content: "";
            width: 1px;
            height: 20px;
            background: #D6DBE4;
            position: absolute;
            height: 200px;
            top: 24px;
            left: 23px;
            display: none;
            @media (min-width: 992px) {
                display: block;
            }
        }
    }
}



/* ------------------ FOOTER --------------------*/

.footer {
    font-size: 14px;
    line-height: 23px;
    span {
        display: block;
        @media (min-width: 576px) { 
            display: inline;
        }
    }
}

.footer {
    position: relative;
    width: 100%;
    margin-top: -80px;
}

