.login-box {
    padding-top: 5px;
    margin: 20px;
    @media (min-width: 576px) { 
        margin: 0 auto;
        width: 470px;
        input {
            background: #F5F6F7;
        }
    }
    .logo {
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .bordered-box {
        padding: 10px;
        @media (min-width: 576px) { 
            padding: 30px;
        }
    }
    .bordered-box {
        background: transparent;
        border: none;
        @media (min-width: 576px) { 
            background: #fff;
            border: solid 1px #DCE5ED;
            border-radius: 8px;
        }
    }
    .form-control:focus {
        color: #495057;
        background-color: #F5F6F7 !important;
        border-color: #ced4da !important;
        outline: 0;
    }
    .btn-primary {
        box-shadow: 0px 3px 6px #00000029;
    }
}

button:disabled {
    background: #D6DBE4 !important;
    border-color: #D6DBE4 !important;
}

.forgot-pass-text {
    p {
        line-height: normal;
        font-size: 14px;
        padding: 0 15px;
    }
}