@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lr2veg');
  src:  url('fonts/icomoon.eot?lr2veg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lr2veg') format('truetype'),
    url('fonts/icomoon.woff?lr2veg') format('woff'),
    url('fonts/icomoon.svg?lr2veg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye-icon:before {
  content: "\e916";
}
.icon-add-file-icon:before {
  content: "\e900";
}
.icon-calendar-icon:before {
  content: "\e901";
  color: #5c6e87;
}
.icon-check-icon:before {
  content: "\e902";
  color: #528f31;
}
.icon-close-icon:before {
  content: "\e903";
  color: #5c6e87;
}
.icon-download-icon .path1:before {
  content: "\e904";
  color: rgb(131, 166, 211);
}
.icon-download-icon .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(131, 166, 211);
}
.icon-download-icon .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-download-icon .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-edit-icon:before {
  content: "\e908";
  color: #0055a4;
}
.icon-empty-icon:before {
  content: "\e909";
  color: #99b3d6;
}
.icon-go-back-icon:before {
  content: "\e90a";
}
.icon-left-icon:before {
  content: "\e90b";
}
.icon-menu-icon:before {
  content: "\e90c";
  color: #5c6e87;
}
.icon-print-icon .path1:before {
  content: "\e90d";
  color: rgb(131, 166, 211);
}
.icon-print-icon .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-right-icon:before {
  content: "\e90f";
}
.icon-share-icon:before {
  content: "\e910";
  color: #83a6d3;
}
.icon-time-icon:before {
  content: "\e911";
  color: #0063ae;
}
.icon-trash-icon:before {
  content: "\e912";
  color: #0055a4;
}
.icon-user-icon .path1:before {
  content: "\e913";
  color: rgb(105, 120, 142);
}
.icon-user-icon .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-user-icon .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
